<!-- cieweb/src/twig/templates/entree.html.twig -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Cieweb - entrée</title>
		{% block stylesheets %}
            		 <link rel="stylesheet" href="/css/style.css">
		{% endblock %}
	</head>
	<body>
		<div id="content">
			<h1>Entrée de la partie administration</h1>

			{{ form_start(form) }}
    			{{ form_errors(form) }}
					{{ form_row(form.pseudo, { 'label': 'Pseudo', 'attr': {'maxlength': '20'} }) }}
					{{ form_row(form.passe, { 'label': 'Mot de passe', 'attr': {'maxlength': '20'} }) }}
    			{{ form_widget(form.entree, { 'label': 'Entrée' }) }}
			{{ form_end(form) }}





		</div>
	</body>
</html>
